#topbar {
    height:70px;
    background-color:rgba(155, 144, 157, .75);
    border-color:rgba(155, 144, 157, .95);
    font-family: 'Lato', sans-serif;
    font-size:1.4em;
    
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}

.navbar-default .navbar-header .navbar-brand {
    color:#FFF;
    font-size:1.4em;
    margin:0;
    padding-left:0;
    padding-right:0;
}

#title {
    padding-top:23px;
    font-style:italic;
}

.navbar-default .navbar-header .navbar-brand > img{
    color:#FFF;
    height:75px;
    width:75px;
    position:relative;
    bottom:18px;
}

.navbar-default .navbar-nav {
    height:70px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#FFF;
}

.navbar-default .navbar-nav > li {
    margin:7px 10px 0 10px;
    border-radius:10%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#FFF;  /*Sets the text hover color on navbar*/
    background-color:rgba(124, 84, 131, 1);
}

.navbar-default .navbar-nav > li > a {
    color:#FFF; /*Change active text color here*/
    height:55px;
    font-weight:lighter;
    border-radius:5%;
}


.navbar .nav > li.dropdown.open > a {
    color:#FFF;
    background-color:rgba(124, 84, 131, .95);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    width:250px;
    background-color:rgba(155, 144, 157, .96);
}

.navbar-default .navbar-nav > .active {
    background-color:rgba(155, 144, 157, .95);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:#FFF;
    background-color:rgba(124, 84, 131, 1);
    border:1px solid #4C3350;
}

.navbar-center-container {
    text-align:center;
}

.navbar-center {
    position:relative;
    right:1vw;
    display:inline-block;
    float:none;
    vertical-align:top;
}

.dropdown-form{
    padding:1px 5px;
    color:#FFF;
}

#login-btn {
    float:right;
    margin:1px 5px 0 0;
}

.purple-btn {
    color:#ffffff;
    background-color:#7C5483;
    border-color:#4C3350;
}

.purple-btn:hover,
.purple-btn:focus,
.purple-btn:active,
.purple-btn.active,
.open .dropdown-toggle.purple-btn {
    color: #ffffff;
    background-color: #4C3350;
    border-color: #000;
}

.purple-btn:active,
.purple-btn.active,
.open .dropdown-toggle.purple-btn {
    background-image: none;
}

@media only screen and (min-width: 768px) and (max-width: 982px) {
    .navbar-collapse.collapse {
        display:none !important;
    }
    .navbar-collapse.collapse.in {
        display:block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        position:relative;
        top:10px;
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    
    .navbar-collapse {
        background-color:rgba(155, 144, 157, .92);
        position:relative;
        width:100vw;
        right:15px;
        border-top:1px solid white;
        top:19px;
    }
    
    .navbar-center {
        display:block;
        width:100%;
        left:.03vw;
        float:none;
        height:100vh;
    }
    
    .navbar-default .navbar-nav {
        height:338px;
    }
    
    .navbar-default .navbar-nav > li {
        margin:0 auto;
        width:170px;
        padding:5px 0 5px 0;
        float:none;
    }

    .navbar-default .navbar-nav > ul {
        float:none;
        padding:0;
    }
    
    .navbar-default .navbar-right {
        float:none !important;
        height:75px;
        background-color:rgba(155, 144, 157, .92);
        margin:0;
    }
    
    .sign-in-drop {
        width:5000px;
    }
    
    .sign-in-btn {
        margin:0 auto;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
        position:relative;
        right:15vw;
        width:60vw;
        height:200px;
    }
}

@media only screen and (max-width: 767px) {
    #topbar {
        height:50px;
    }
    
    .navbar-default .navbar-nav {
        height:100%;
        /* background-color:black; */
    }
    
    .navbar-default .navbar-header .navbar-brand > img{
        color:#FFF;
        height:56px;
        width:56px;
        position:relative;
    }
    
    #title {
        display:none;
    }
    
    .navbar-default .navbar-nav > li {
        margin:5px 0 5px 0;
        border-radius:10%;
    }
    
    .navbar-collapse {
        background-color:rgba(155, 144, 157, .92);
    }
    
    .navbar-center {
        position:relative;
        left:.03vw;
        margin:0 auto;
    }
    
    .sign-in-btn {
        width:100px;
        position:relative;
        margin:0 auto;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
        width:100%;
        height:200px;
    }
}
